{{page-title "RelTest"}}

<button type="button" {{on 'click' this.getCategories}}>Get Cats</button>
<h1>Categories</h1>
{{#each this.categories as |category| }}
  <button type="button" {{on 'click' (fn this.getSkills category)}}>Get Skills for {{category.name}}</button><br/>
  {{!-- {{#each category.skills as |skill| }} --}}
  {{!--   {{skill.name}} --}}
  {{!-- {{/each}} --}}
{{/each}}

{{outlet}}
